:root {
    --spacing-large: 30px;
    --spacing-medium: 20px;
    --spacing-small: 10px;
    --header-bg-color: #dfe0e2;
    --main-bg-color: #a2aebb;
    --footer-bg-color: #75abbc;
    --border-color: #dee2e6;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --text-padding: 15px; /* Adăugăm o variabilă pentru padding-ul textului */
}

body {
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
    background-color: #e9ecef;
}

header {
    background-color: var(--header-bg-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    padding: var(--spacing-medium);
}

main {
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    padding: var(--spacing-medium);
}

footer {
    background-color: var(--footer-bg-color);
    color: #ffffff;
    border-top: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    padding: var(--spacing-medium);
}

header, main, footer {
    display: grid;
    grid-gap: var(--spacing-large);
}

header, main, footer, section, nav, ul, li, p, h1, h2, h3, h4, h5, h6 {
    padding: var(--text-padding);
}

/* Stiluri pentru elementele media */
img, iframe, video {
    width: 50%;
    max-width: 100%;
}

@media (max-width: 1024px) {
    body {
        padding-left: var(--spacing-medium);
        padding-right: var(--spacing-medium);
    }

    header, main, footer {
        grid-gap: var(--spacing-medium);
    }

    img, iframe, video {
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    body {
        padding-left: var(--spacing-small);
        padding-right: var(--spacing-small);
    }

    header, main, footer {
        grid-gap: var(--spacing-small);
    }

    img, iframe, video {
        max-width: 50%;
    }
}